homework/Day004/.vscode
homework/Day004/__PDF__ (1).pdf
homework/Day004/Day004_Sample.ipynb
homework/Day005/.vscode
homework/Day005/Day005_Sample.ipynb
homework/Day006/Day006_Sample.ipynb
homework/Day006/.vscode